<?xml version="1.0" encoding="UTF-8"?>
 <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
         id="nire-images-plugin" version="0.0.1">
     <name>Nire Images Plugin</name>
     <description>
        Copy nire resources to res folder so they can be used as native resource.</description>
     <license>Apache 2.0</license>
     <keywords></keywords>
     <platform name="android">
         <resource-file src="src/android/arrowLeft.png" target="res/drawable/arrowLeft.png" />
     </platform>
     <platform name="ios">
         <resource-file src="src/android/ic_close.png" target="res/drawable/ic_close.png" />
     </platform>
 </plugin>