<?xml version="1.0" encoding="UTF-8"?>
 <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
         id="nire.plugins.images" version="0.0.1">
     <name>Nire Images Plugin</name>
     <description>
        Copy nire resources to res folder so they can be used as native resource.</description>
     <license>Apache 2.0</license>
     <keywords></keywords>

     <!--
     Android resources filename must conform [a-z0-9-_]
     iOS resources does not care about target, but can't rename files.
      -->
     <platform name="android">
         <resource-file src="res/android/arrow_left.png" target="res/drawable/arrow_left.png" />
     </platform>
     <platform name="ios">
         <resource-file src="res/ios/arrow_left.png" />
     </platform>
 </plugin>
